<h1><% title %></h1>
<div class="form-wrapper">
    <% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
        <%  }) %>
    </ul>
    <% } %>
    <div>
        <form action="/inv/create" method="post">
            <label for="inv_make">Make:
                <input type="text" id="inv_make" name="inv_make" required value="<%= locals.inv_make %>">
            </label>
            <label for="inv_model">Model:
                <input type="text" id="inv_model" name="inv_model" required value="<%= locals.inv_model %>">
            </label>
            <label for="inv_year">Year:
                <input type="number" id="inv_year" name="inv_year" required value="<%= locals.inv_year %>" min="1900"
                    max="2099">
            </label>
            <label for="inv_price">Price:
                <input type="number" id="inv_price" name="inv_price" required value="<%= locals.inv_price %>" min="0"
                    max="1000000">
            </label>
            <label for="classification_id">Classification:
                <%- classifications %>
            </label>
            <label for="inv_color">Color:
                <input type="text" id="inv_color" name="inv_color" required value="<%= locals.inv_color %>">
            </label>
            <label for="inv_miles">Miles:
                <input type="number" id="inv_miles" name="inv_miles" required value="<%= locals.inv_miles %>" min="0"
                    max="1000000">
            </label>
            <label>Description:
                <textarea name="inv_description" id="inv_description" cols="30" rows="10"></textarea>
            </label>
            <button class="btn" type="submit">Add to Inventory</button>
        </form>
    </div>
</div>