<h1><%- title %></h1>
<div class="form-wrapper">
    <% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
        <%  }) %>
    </ul>
    <% } %>
    <div>
        <form action="/inv/delete" method="post">
            <label for="inv_make">Make:
                <input type="text" id="inv_make" name="inv_make" required value="<%= locals.inv_make %>" disabled>
            </label>
            <label for="inv_model">Model:
                <input type="text" id="inv_model" name="inv_model" required value="<%= locals.inv_model %>" disabled>
            </label>
            <label for="inv_year">Year:
                <input type="number" id="inv_year" name="inv_year" required value="<%= locals.inv_year %>" disabled
                    min="1900" max="2099">
            </label>
            <label for="inv_price">Price:
                <input type="number" id="inv_price" name="inv_price" required value="<%= locals.inv_price %>" disabled
                    min="0" max="1000000">
            </label>
            <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>

            <button class="btn" type="submit">Delete Vehicle</button>
        </form>
    </div>
</div>